[submodule "Games/Game-1-CoinCollector/assets/private"]
	path = Games/Game-1-CoinCollector/assets/private
	url = git@github.com:joshbatley/GameAssets.git
[submodule "Games/Game-2-CoinCollector_Refactor/assets/private"]
	path = Games/Game-2-CoinCollector_Refactor/assets/private
	url = git@github.com:joshbatley/GameAssets.git
[submodule "Games/Game-3-Tiler/assets/private"]
	path = Games/Game-3-Tiler/assets/private
	url = git@github.com:joshbatley/GameAssets.git
[submodule "Tools/Tool-4-tier/assets/private"]
	path = Tools/Tool-4-tier/assets/private
	url = git@github.com:joshbatley/GameAssets.git
